Imaginarium/Connected Services/ServiceReference1/ServiceGame.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceGame" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceGame_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceGame_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_SendMsg_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMsg" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_ReturnNameImage_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnNameImage" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_ReturnNameImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnNameImageResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_SendInstruct_InputMessage">
    <wsdl:part name="parameters" element="tns:SendInstruct" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_SendInstruct_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendInstructResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_MsgCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MsgCallback" />
  </wsdl:message>
  <wsdl:portType name="IServiceGame">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/Connect" message="tns:IServiceGame_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/ConnectResponse" message="tns:IServiceGame_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/Disconnect" message="tns:IServiceGame_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/DisconnectResponse" message="tns:IServiceGame_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMsg">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/SendMsg" message="tns:IServiceGame_SendMsg_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnNameImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/ReturnNameImage" message="tns:IServiceGame_ReturnNameImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/ReturnNameImageResponse" message="tns:IServiceGame_ReturnNameImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendInstruct">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/SendInstruct" message="tns:IServiceGame_SendInstruct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/SendInstructResponse" message="tns:IServiceGame_SendInstruct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MsgCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/MsgCallback" message="tns:IServiceGame_MsgCallback_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServiceGame" type="tns:IServiceGame">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceGame_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMsg">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/SendMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReturnNameImage">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/ReturnNameImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendInstruct">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/SendInstruct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MsgCallback">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/MsgCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceGame">
    <wsdl:port name="NetTcpBinding_IServiceGame" binding="tns:NetTcpBinding_IServiceGame">
      <soap12:address location="net.tcp://localhost:8302/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8302/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-11K56CE\admin</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>